<body style="text-align: center">
    <script src="Thermostat.js"></script>
    <script src="jquery.js"></script>
    <script src="interface.js"></script>
    <div>
        <h1>Thermostat Interface</h1>
        <h2>Current Temperature:</h2>
        <h2 id="temp">thermostat.temperature</h2>
        <br>
        <h2>Current Usage:</h2>
        <h2 id="usage">  </h2>
        <br>
        <h3>Increase Temperature</h3>
        <form id="up">
            <input type="text" id="upButt">
            <input type='submit' value="Submit">
        </form>
        <br>
        <h3>Decrease Temperature</h3>
        <form id="down">
            <input type="text" id="downButt">
            <input type='submit' value="Submit">
        </form>
        <br>
        <button id="powersave">Powersave</button>
        <p id="saver">
            thermostat.mode
        </p>
        <br>
        <br>
        <button id="reset">Reset</button>
    </div>
   
</body>